Repository ttronas/bsm2-python: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image, run_checks, run_tests

build_image:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  tags:
  - docker
  before_script:
  - apk add --update nodejs npm python3 make g++
  - npm install -g @devcontainers/cli
  - docker login $IMAGE_REG -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
  ...

run_checks:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run lint:style

run_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run test:cov
  coverage: /TOTAL.*? (100(?:\.0+)?\%\|[1-9]?\d(?:\.\d+)?\%)$/

Refactor JSON structure in test_json_engine.py
  tests/test_json_engine.py
Due: run_checks, run_tests

Change BSM2OL test endtime to 5 days
  tests/test_json_engine.py
Due: run_checks, run_tests

feat: Update dev container to use UV
  .devcontainer/devcontainer.json
  Dockerfile
  pyproject.toml
Due: build_image, run_checks, run_tests

fix Dockerfile
  Dockerfile
Due: build_image, run_checks, run_tests

refactor: update configuration files and improve test structure
  .devcontainer/devcontainer.json
  Dockerfile
  bsm1_ol_config.json
  bsm2_ol_config.json
  pyproject.toml
  tests/test_json_engine.py
Due: build_image, run_checks, run_tests

feat: enhance SimulationEngine to include input/output handles in node parameters
  src/bsm2_python/engine/engine.py
  src/bsm2_python/engine/registry.py
  tests/test_json_engine.py
Due: run_checks, run_tests

fix: correct parameter formatting and update output handles in bsm2_ol_config.json
  bsm2_ol_config.json
Due: none

fix: update input handle name in bsm2_ol_config.json
  bsm2_ol_config.json
Due: none

fix: change language to english
  .devcontainer/devcontainer.json
Due: build_image, run_checks, run_tests

Checkpoint from VS Code for coding agent session
  src/bsm2_python/engine/engine.py
  src/bsm2_python/engine/param_resolver.py
  src/bsm2_python/engine/registry.py
  src/bsm2_python/real_json_engine.py
  tests/test_json_engine.py
Due: run_checks, run_tests

Path conditions:
  build_image: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json
  run_checks: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
