Repository ttronas/bsm2-python: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run_tests, build_image

.gitlab-ci.yml:

variables:
  IMAGE_REG: gitlab.rrze.fau.de:4567
  IMAGE_NAME: evt/klaeffizient/bsm2-python
  IMAGE_TAG: latest

stages:
  - build
  - test
  - deploy

run_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
    - docker
  rules:
  - changes:
    - asm1/*
    - asm3/*
    - bsm2/*
    - tests/*
  script:
    - make test_no_venv

build_image:
  stage: build
  image: docker:24.0.2
  services:
    - docker:24.0.2-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    # DOCKER_HOST: tcp://docker:2376
    # DOCKER_TLS_VERIFY: 1
  tags:
    - docker
  rules:
  - changes:
    - requirements.txt
    - makefile
    - Dockerfile
    - .gitlab-ci.yml
  before_script:
    - docker info
    - docker login $IMAGE_REG -u $REGISTRY_USER -p $REGISTRY_PASS
    - apk update && apk add make
  script:
    - make image
    - make push

Revert "Add new directory"
  integration_energy_management/.gitkeep
Due: none

integrated energy management and structure
  __init__.py
  src/__init__.py
  src/bsm2_python/__init__.py
  src/bsm2_python/bsm2/__init__.py
  src/bsm2_python/bsm2/init/__init__.py
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  src/bsm2_python/bsm2/init/asm1init_bsm1.py
  src/bsm2_python/bsm2/init/asm1init_bsm2.py
  src/bsm2_python/bsm2/init/dewateringinit_bsm2.py
  src/bsm2_python/bsm2/init/primclarinit_bsm2.py
  src/bsm2_python/bsm2/init/reginit_bsm2.py
  src/bsm2_python/bsm2/init/settler1dinit_bsm2.py
  src/bsm2_python/bsm2/init/storageinit_bsm2.py
  src/bsm2_python/bsm2/init/thickenerinit_bsm2.py
  src/bsm2_python/bsm2/plantperformance_step.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/bsm2_ss.py
  src/bsm2_python/controller_energy.py
  src/bsm2_python/controller_oxygen.py
  src/bsm2_python/data/electricity_prices_2023.csv
  src/bsm2_python/gas_management/__init__.py
  src/bsm2_python/gas_management/boiler.py
  src/bsm2_python/gas_management/chp.py
  src/bsm2_python/gas_management/compressor.py
  src/bsm2_python/gas_management/cooler.py
  src/bsm2_python/gas_management/economics.py
  src/bsm2_python/gas_management/evaluation.py
  src/bsm2_python/gas_management/fermenter.py
  src/bsm2_python/gas_management/flare.py
  src/bsm2_python/gas_management/gases/__init__.py
  src/bsm2_python/gas_management/gases/gas_params.py
  src/bsm2_python/gas_management/gases/gases.py
  src/bsm2_python/gas_management/heat_net.py
  src/bsm2_python/gas_management/module.py
  src/bsm2_python/gas_management/storage.py
  src/bsm2_python/simulation.py
  tests/bsm2_olem_test.py
Due: run_tests

dependencies: include scikit-learn in test env
  pyproject.toml
Due: none

fix test_bsm2_olem expected cum. cash flow.
  tests/bsm2_olem_test.py
Due: run_tests

fix: made aeration control more robust to numeric inaccuracies
  src/bsm2_python/bsm2/aerationcontrol.py
Due: none

new evaluation class, useable for any data, merged controllers into one while reworking parts of load_scheduler-controller, removed TOTAL_SIM_STEPS and made timesteps clearer, some docstrings
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/controller.py
  src/bsm2_python/controller_energy.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/gas_management/chp.py
  src/bsm2_python/gas_management/economics.py
  src/bsm2_python/gas_management/evaluation.py
  src/bsm2_python/gas_management/init/chp_init.py
  src/bsm2_python/simulation.py
  tests/bsm2_olem_test.py
Due: run_tests

fix: logger file, mypy linting
  pyproject.toml
  src/bsm2_python/__init__.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_ol_ref_ctrl.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/energy_management/chp.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/logger.py
  src/bsm2_python/simulation.py
  tests/adm1_test.py
  tests/bsm1_test.py
  tests/bsm2_cl_test.py
  tests/bsm2_ol_test.py
  tests/bsm2_ol_test_not_connected.py
  tests/bsm2_olem_test.py
  tests/bsm2_ss_test.py
  tests/dewatering_test.py
  tests/helpers_test.py
  tests/numba_test.py
  tests/primclar_test.py
  tests/storage_test.py
  tests/thickener_test.py
Due: run_tests

added all missing docstrings
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/controller.py
  src/bsm2_python/controller_em.py
  src/bsm2_python/energy_management/boiler.py
  src/bsm2_python/energy_management/chp.py
  src/bsm2_python/energy_management/compressor.py
  src/bsm2_python/energy_management/cooler.py
  src/bsm2_python/energy_management/economics.py
  src/bsm2_python/energy_management/fermenter.py
  src/bsm2_python/energy_management/flare.py
  src/bsm2_python/energy_management/gases/gas_params.py
  src/bsm2_python/energy_management/gases/gases.py
  src/bsm2_python/energy_management/heat_net.py
  src/bsm2_python/energy_management/init/boiler_init.py
  src/bsm2_python/energy_management/init/chp_init.py
  src/bsm2_python/energy_management/init/compressor_init.py
  src/bsm2_python/energy_management/init/cooler_init.py
  src/bsm2_python/energy_management/init/fermenter_init.py
  src/bsm2_python/energy_management/init/flare_init.py
  src/bsm2_python/energy_management/init/heat_net_init.py
  src/bsm2_python/energy_management/init/storage_init.py
  src/bsm2_python/energy_management/module.py
  src/bsm2_python/energy_management/storage.py
Due: none

add extended and new plant performance. Not working yet...
  Dockerfile
  README.md
  integration_energy_management/.gitkeep
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/init/plantperformanceinit_bsm2.py
  src/bsm2_python/bsm2/init/reginit_bsm2.py
  src/bsm2_python/bsm2/plantperformance_extended.py
  src/bsm2_python/bsm2/plantperformance_new.py
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/storage_bsm2.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol_pp.py
  src/bsm2_python/bsm2_ol_ref_ctrl.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/log.py
  src/bsm2_python/simulation.py
  tests/adm1_test.py
  tests/bsm1_test.py
  tests/bsm2_cl_test.py
  tests/bsm2_ol_performance.py
  tests/bsm2_ol_pp_extended_test.py
  tests/bsm2_ol_pp_new_test.py
  tests/bsm2_ol_test.py
  tests/bsm2_ol_test_not_connected.py
  tests/bsm2_olem_test.py
  tests/bsm2_ss_test.py
  tests/dewatering_test.py
  tests/helpers_test.py
  tests/numba_test.py
  tests/primclar_test.py
  tests/simulink_files/bsm2_ol_time_elapsed.csv
  tests/simulink_files/perf_plant_bsm2_and_infl.m
  tests/simulink_files/results.mat
  tests/storage_test.py
  tests/thickener_test.py
Due: run_tests, build_image

heat demand debugged, tss and sludge maybe debugged
  src/bsm2_python/bsm2/plantperformance_new.py
  tests/bsm2_ol_pp_new_test.py
Due: run_tests

everything debugged, tss in digester not correct yet, aside from that everything correct
  src/bsm2_python/bsm2/plantperformance_new.py
  tests/bsm2_ol_pp_new_test.py
  tests/simulink_files/bsm2_ol_time_elapsed.csv
  tests/simulink_files/results.mat
Due: run_tests

clean up and add TODOs
  README.md
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/plantperformance_extended.py
  src/bsm2_python/bsm2/plantperformance_new.py
  src/bsm2_python/bsm2/plantperformance_step.py
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_ol_pp.py
  src/bsm2_python/bsm2_ol_ref_ctrl.py
  src/bsm2_python/bsm2_olem.py
  tests/bsm2_ol_performance.py
  tests/bsm2_ol_pp_extended_test.py
  tests/bsm2_ol_pp_new_test.py
  tests/primclar_test.py
Due: run_tests

further TODOs added
  tests/bsm2_olem_test.py
Due: run_tests

add ys_tss_internal for internal settler sludge concentration. dynamic test still failing.
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_ol_pp.py
  src/bsm2_python/bsm2_olem.py
  tests/bsm1_test.py
  tests/bsm2_ol_test_not_connected.py
  tests/bsm2_olem_test.py
Due: run_tests

added a posteriori oci to all bsm2 classes, added parent-class bsm2_base.py based on bsm2_ol, added inheriting bsm2 classes
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_ol_pp.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/controller.py
  src/bsm2_python/controller_em.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/inherit_bsm2_cl.py
  src/bsm2_python/inherit_bsm2_ol.py
  src/bsm2_python/inherit_bsm2_ol_pp.py
  src/bsm2_python/inherit_bsm2_olem.py
  tests/simulink_files/bsm2_ol_time_elapsed.csv
  tests/simulink_files/results.mat
Due: none

add docstring to ys_tss_internal
  src/bsm2_python/bsm2/settler1d_bsm2.py
Due: none

refactored bsm2 models to be better compliant with bsm2_base class
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_ol_pp.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/inherit_bsm2_cl.py
  src/bsm2_python/inherit_bsm2_ol.py
  src/bsm2_python/inherit_bsm2_ol_pp.py
  src/bsm2_python/inherit_bsm2_olem.py
Due: none

add plantperformance to bsm2_base. Cleanup.
  src/bsm2_python/bsm2/init/settler1dinit_bsm2.py
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2/plantperformance_new.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_ol_pp.py
  src/bsm2_python/bsm2_olem.py
  tests/bsm2_ol_pp_new_test.py
  tests/bsm2_ol_pp_test.py
Due: run_tests

update controller, olem
  README.md
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/controller.py
  src/bsm2_python/controller_em.py
  src/bsm2_python/data/electricity_prices_2023.csv
  src/bsm2_python/energy_management/chp.py
  src/bsm2_python/energy_management/economics.py
  src/bsm2_python/energy_management/module.py
  src/bsm2_python/log.py
  src/bsm2_python/simulation.py
  tests/bsm2_olem_test.py
Due: run_tests

adjust chp and boiler powers to account for 80k population equivalent fix bsm2_ol_pp_test
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/energy_management/init/boiler_init.py
  src/bsm2_python/energy_management/init/chp_init.py
  tests/bsm2_ol_pp_test.py
Due: run_tests

small adjustment to get power prices, some TODOs for evaluation.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/evaluation.py
Due: none

add income_all, add GitGraph for Dev Containers
  .devcontainer/devcontainer.json
  src/bsm2_python/bsm2_olem.py
Due: none

Added documentation for mkdocs setup
  CONTRIBUTING.md
  docs/documentation.md
  mkdocs.yml
Due: none

Fixed mkdocs -> ready to serve
  src/bsm2_python/bsm2/__init__.py
Due: none

add support for GitLab pages
  .gitlab-ci.yml
  .linkcheckerrc
  CONTRIBUTING.md
  mkdocs.yml
Due: build_image

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build_image

add libcairo2-dev dependency
  Dockerfile
Due: build_image

change API version request to gitlab.rrze.fau.de
  .gitlab-ci.yml
Due: build_image

add public path for GitLab Pages
  .gitlab-ci.yml
Due: build_image

add git user.name and mike set-default
  .gitlab-ci.yml
  pyproject.toml
Due: build_image

Edit Pages URL to unique URL provided by RRZE
  mkdocs.yml
Due: none

reworked controllers with inheritance, reworked evaluation with new DataObject class, added rest times between load changes for modules, added some docstring
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/controller.py
  src/bsm2_python/controller_em.py
  src/bsm2_python/energy_management/boiler.py
  src/bsm2_python/energy_management/chp.py
  src/bsm2_python/energy_management/compressor.py
  src/bsm2_python/energy_management/cooler.py
  src/bsm2_python/energy_management/fermenter.py
  src/bsm2_python/energy_management/flare.py
  src/bsm2_python/energy_management/init/boiler_init.py
  src/bsm2_python/energy_management/init/chp_init.py
  src/bsm2_python/energy_management/module.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/log.py
  src/bsm2_python/simulation.py
Due: none

updated __repr__ in evaluation, add_new_data_object now also returns the data object allowing direct access
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/simulation.py
Due: none

adjusted LOAD_CHANGE_TIMEs and STORAGE_RULES to allow for 6h of forced operations freeze
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/controller.py
  src/bsm2_python/controller_em.py
  src/bsm2_python/energy_management/init/chp_init.py
  src/bsm2_python/energy_management/module.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/log.py
  src/bsm2_python/simulation.py
Due: none

reduce cooler power to 10% of KW1 Nürnberg, add monitoring of heat_net.temperature
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/energy_management/init/cooler_init.py
Due: none

Adapted mkdocstring settings
  mkdocs.yml
Due: none

Structured docstrings for adm1_bsm2 module
  src/bsm2_python/bsm2/adm1_bsm2.py
Due: none

Edit docstring options in mkdocs.yml
  mkdocs.yml
Due: none
