Repository ttronas/bsm2-python: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image, run_checks, run_tests, run_doc_tests, pages

build_image:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  tags:
  - docker
  before_script:
  - apk add --update nodejs npm python3 make g++
  - npm install -g @devcontainers/cli
  - docker login $IMAGE_REG -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
  ...

run_checks:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run lint:style

run_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run test:cov

run_doc_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run docs:build-check

pages:
  stage: deploy
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - VERSION=$(curl -Ss --request GET --header "PRIVATE-TOKEN: ${API_TOKEN}" "https://gitlab.com/api/v4/projects/${PROJECT_ID}/repository/tags" | jq -r '.[0] | .name')
  ...

Revert "Test changelog fix #3"
  .readthedocs.yaml
Due: none

Test changelog fix #4
  docs/scripts/conf.py
Due: none

Revert "Test changelog fix #4"
  docs/scripts/conf.py
Due: none

Test changelog fix #5
  docs/scripts/conf.py
Due: none

Test changelog fix2 #5
  docs/scripts/conf.py
Due: none

Test changelog fix3 #5
  docs/scripts/conf.py
Due: none

Test changelog fix4 #5
  docs/scripts/conf.py
Due: none

Test changelog fix5 #5
  docs/scripts/conf.py
Due: none

Test changelog fix #6
  docs/scripts/conf.py
Due: none

Test changelog fix2 #6
  docs/scripts/conf.py
Due: none

Test changelog fix3 #6
  docs/scripts/conf.py
Due: none

Test changelog fix4 #6
  docs/scripts/conf.py
Due: none

Test changelog fix5 #6
  docs/scripts/conf.py
Due: none

Testing changelog fix
  docs/scripts/conf.py
Due: none

set UV as installer and dependency solver.
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

add git-lfs to Dockerfile
  Dockerfile
Due: build_image, run_checks, run_tests, run_doc_tests, pages

adjust flare capacity, add cache=True flag to all components.
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/energy_management/init/flare_init.py
  tests/numba_test.py
Due: run_checks, run_tests

Reapply new controller alpha-version. Not working yet!
  .pre-commit-config.yaml
  pyproject.toml
  src/bsm2_python/bsm2/aerationcontrol_new.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  system_proof_of_concept.py
  system_test.py
Due: build_image, run_checks, run_tests, run_doc_tests, pages

add setpoint plot to make problem more visual.
  system_proof_of_concept.py
  system_test.py
Due: none

restructured contributing.md
  CONTRIBUTING.md
Due: none

Update "doc_new2" branch with "main" branch
  AUTHORS.md
  Dockerfile
  docs/scripts/conf.py
  pyproject.toml
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/energy_management/init/flare_init.py
  tests/numba_test.py
Due: build_image, run_checks, run_tests, run_doc_tests, pages

improved structure and content of contributing.md
  CONTRIBUTING.md
Due: none

Add documentation site for bsm2_base.py, changed site structure in mkdocs.yml and corrected some docstrings.
  docs/assets/images/Examples_activated_sludge_flow_schemes.png
  docs/snippets/bsm2_links.txt
  docs/snippets/links.txt
  docs/user_guide/bsm2_base.md
  docs/user_guide/bsm2_python_components/em_components/biogas_storage.md
  docs/user_guide/bsm2_python_components/em_components/boiler.md
  docs/user_guide/bsm2_python_components/em_components/chp.md
  docs/user_guide/bsm2_python_components/em_components/compressor.md
  docs/user_guide/bsm2_python_components/em_components/cooler.md
  docs/user_guide/bsm2_python_components/em_components/economics.md
  docs/user_guide/bsm2_python_components/em_components/fermenter_interface.md
  docs/user_guide/bsm2_python_components/em_components/flare.md
  docs/user_guide/bsm2_python_components/em_components/heat_net.md
  docs/user_guide/bsm2_python_components/em_components/module.md
  docs/user_guide/bsm2_python_components/wwt_components/activated_sludge_reactor.md
  docs/user_guide/bsm2_python_components/wwt_components/anaerobic_digester.md
  docs/user_guide/bsm2_python_components/wwt_components/combiner_and_splitter.md
  docs/user_guide/bsm2_python_components/wwt_components/dewatering.md
  docs/user_guide/bsm2_python_components/wwt_components/primary_clarifier.md
  docs/user_guide/bsm2_python_components/wwt_components/settler.md
  docs/user_guide/bsm2_python_components/wwt_components/thickener.md
  docs/user_guide/bsm2_python_components/wwt_components/wastewater_storage.md
  docs/user_guide/index.md
  mkdocs.yml
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  src/bsm2_python/bsm2/init/asm1init_bsm1.py
  src/bsm2_python/bsm2/init/asm1init_bsm2.py
  src/bsm2_python/bsm2/init/dewateringinit_bsm2.py
  src/bsm2_python/bsm2/init/plantperformanceinit_bsm2.py
  src/bsm2_python/bsm2/init/primclarinit_bsm2.py
  src/bsm2_python/bsm2/init/reginit_bsm2.py
  src/bsm2_python/bsm2/init/settler1dinit_bsm2.py
  src/bsm2_python/bsm2/init/storageinit_bsm2.py
  src/bsm2_python/bsm2/init/thickenerinit_bsm2.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_olem.py
Due: none

Added bsm2_base documentation.
  docs/user_guide/bsm2_base.md
  docs/user_guide/bsm2_python_components/wwt_components/combiner_and_splitter.md
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/simulation.py
Due: none

Add new bsm2cl2 for testing purposes of new aerationcontroller! Not yet validated
  To-do_Olli
  src/bsm2_python/bsm2/aerationcontrol_new.py
  src/bsm2_python/bsm2_cl_2.py
  tests/asm1_test.py
  tests/bsm2_cl_2_test.py
  tests/simulink_files/asm1_test.slx
  tests/simulink_files/asm1_test_ol.slx
  tests/simulink_files/settler_test.slx
Due: run_checks, run_tests

Added comparatpor module for investigating differences between both areationcontrol models
  tests/bsm2_cl_test_comparator.py
Due: run_checks, run_tests

Fixed formating errors in the comparator module
  tests/bsm2_cl_test_comparator.py
Due: run_checks, run_tests

Cleaned up the branch: Removed old aerationcontrol modules and updated filenames of the new ones
  To-do_Olli
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/aerationcontrol_new.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_cl_2.py
  system_proof_of_concept.py
  tests/bsm2_cl_2_test.py
  tests/bsm2_cl_test_comparator.py
Due: run_checks, run_tests

New aerationcontrol module
  .pre-commit-config.yaml
  pyproject.toml
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  src/bsm2_python/bsm2_cl.py
  system_test.py
  tests/asm1_test.py
  tests/bsm2_cl_test.py
  tests/simulink_files/asm1_test.slx
  tests/simulink_files/asm1_test_ol.slx
  tests/simulink_files/settler_test.slx
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Add BSM1.
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  docs/assets/images/bsm2em_python_flowchart.drawio.svg
  src/bsm2_python/bsm1_base.py
  src/bsm2_python/bsm1_cl.py
  src/bsm2_python/bsm1_ol.py
  src/bsm2_python/bsm1_ps.py
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/helpers_bsm2.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  src/bsm2_python/bsm2/init/aerationcontrolinit_bsm1.py
  src/bsm2_python/bsm2/init/plantperformanceinit_bsm1.py
  src/bsm2_python/bsm2/init/reginit_bsm1.py
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/bsm_base.py
  src/bsm2_python/evaluation.py
  system_test.py
  tests/adm1_test.py
  tests/asm1_test.py
  tests/bsm1_cl_test.py
  tests/bsm1_ol_test.py
  tests/bsm1_test.py
  tests/bsm2_cl_test.py
  tests/bsm2_ol_test_not_connected.py
  tests/dewatering_test.py
  tests/primclar_test.py
  tests/storage_test.py
  tests/thickener_test.py
Due: build_image, run_checks, run_tests, run_doc_tests, pages

bugfix: step method now independent of stabilize
  CHANGELOG.md
  src/bsm2_python/__init__.py
  src/bsm2_python/bsm1_base.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/bsm_base.py
Due: none

Added bsm2_base.md documentation (data collection part). Also changed unit of oxygen saturation concentration.
  docs/snippets/bsm2_links.txt
  docs/user_guide/bsm2_base.md
  src/bsm2_python/bsm2/init/asm1init_bsm2.py
Due: none

Lint fix
  src/bsm2_python/bsm2/init/reginit_bsm2.py
  src/bsm2_python/simulation.py
Due: none

More detail for short simulation documentation. Unfinished BSM2 customization part hidden.
  docs/user_guide/index.md
Due: none

Added comparator module which compares the bms2_cl model with different timesteps
  tests/bsm2_cl_comparator.py
Due: run_checks, run_tests

bugfix stabilize method for bsm2_olem.py
  src/bsm2_python/bsm1_base.py
  src/bsm2_python/bsm2/helpers_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/bsm_base.py
  tests/bsm2_ol_test_not_connected.py
  tests/helpers_test.py
Due: run_checks, run_tests

Fixed snippet code line numbers, removed annotations and used links instead.
  docs/snippets/bsm2_links.txt
  docs/user_guide/bsm2_base.md
Due: none

Corrected line numbers again and added documentation for new changes.
  docs/snippets/bsm2_links.txt
  docs/user_guide/bsm2_base.md
Due: none

Initial commit
  LICENSE
Due: none

Path conditions:
  build_image: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json
  run_checks: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_doc_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, docs/*
  pages: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, docs/*
