Repository ttronas/bsm2-python: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image, run_checks, run_tests, run_doc_tests, pages

build_image:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  tags:
  - docker
  before_script:
  - apk add --update nodejs npm python3 make g++
  - npm install -g @devcontainers/cli
  - docker login $IMAGE_REG -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
  ...

run_checks:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run lint:style

run_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run test:cov

run_doc_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run docs:build-check

pages:
  stage: deploy
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - VERSION=$(curl -Ss --request GET --header "PRIVATE-TOKEN: ${API_TOKEN}" "https://gitlab.com/api/v4/projects/${PROJECT_ID}/repository/tags" | jq -r '.[0] | .name')
  ...

Added changes for primary clarifier docu, fixed some links and little changes to the overview grid.
  CONTRIBUTING.md
  docs/index.md
  docs/user_guide/index.md
  docs/user_guide/wwt_components/primary_clarifier.md
Due: run_doc_tests, pages

Changed img name for better clarity
  docs/assets/images/primary_clarifier_flowchart.drawio.svg
  docs/user_guide/wwt_components/primary_clarifier.md
Due: none

Added finished asm1 documentation site
  docs/user_guide/wwt_components/activated_sludge_reactor.md
Due: none

Changes for standardization
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/primary_clarifier.md
Due: none

Added settler documentation site
  docs/assets/images/settler_flowchart.drawio.svg
  docs/user_guide/wwt_components/settler.md
Due: none

Added thickener documentation site
  docs/user_guide/wwt_components/thickener.md
Due: none

Added link to init source code
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/primary_clarifier.md
  docs/user_guide/wwt_components/settler.md
  docs/user_guide/wwt_components/thickener.md
Due: none

Added dewatering documentation
  docs/user_guide/wwt_components/dewatering.md
Due: none

Changes to the BSM2 flowsheet and desciption and the dewatering unit. The BSM2 storage isn't used for sludge but for wastewater.
  docs/user_guide/index.md
  docs/user_guide/wwt_components/dewatering.md
  img/bsm2em_python.drawio.svg
Due: none

Renamed sludge storage in wastewater storage
  docs/assets/.icons/bsm2python/wastewater-storage.svg
  docs/user_guide/index.md
  docs/user_guide/wwt_components/sludge_storage.md
  mkdocs.yml
Due: none

Renamed sludge storage in wastewater storage #2
  docs/user_guide/wwt_components/wastewater_storage.md
Due: none

Renamed sludge storage in wastewater storage #3
  src/bsm2_python/bsm2/init/storageinit_bsm2.py
Due: none

Added wastewater storage documentation
  docs/user_guide/wwt_components/dewatering.md
  docs/user_guide/wwt_components/wastewater_storage.md
Due: none

Added combiner and splitter documentation
  docs/user_guide/index.md
  docs/user_guide/wwt_components/combiner.md
  docs/user_guide/wwt_components/combiner_and_splitter.md
  docs/user_guide/wwt_components/splitter.md
  mkdocs.yml
Due: none

Added combiner and splitter documentation #2 Fixed link
  docs/user_guide/wwt_components/combiner_and_splitter.md
Due: none

Fixed problem with navigation
  docs/scripts/gen_ref_nav.py
  mkdocs.yml
Due: none

Changed mkdocstrings option and added docstrings to init file.
  mkdocs.yml
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
Due: none

Added basic page structure for anaerobic digester.
  docs/user_guide/wwt_components/anerobic_digester.md
Due: none

Added dokumentation for anaerobic digester and added parameters for activated sludge reactor
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/anerobic_digester.md
Due: none

Corrected spelling
  docs/user_guide/index.md
  docs/user_guide/wwt_components/anaerobic_digester.md
  mkdocs.yml
Due: none

Added description for adm1 dokumentation
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/anaerobic_digester.md
Due: none

edit build-system to avoid license file metadata version error
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Changed the format of the component documentation so that all are equal. Also added some references.
  docs/user_guide/wwt_components/combiner_and_splitter.md
  docs/user_guide/wwt_components/dewatering.md
  docs/user_guide/wwt_components/primary_clarifier.md
  docs/user_guide/wwt_components/settler.md
  docs/user_guide/wwt_components/thickener.md
  docs/user_guide/wwt_components/wastewater_storage.md
Due: none

Merge `main` branch into `doc_new2` branch
  README.md
Due: none

Lint fix documentation
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
Due: none

Lint fix
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
Due: none

rename folder .icons to icons. Hope that Readthedocs likes it.
  docs/assets/.icons/bsm2python/activated-sludge-reactor.svg
  docs/assets/.icons/bsm2python/anerobic-digester.svg
  docs/assets/.icons/bsm2python/biogas-storage.svg
  docs/assets/.icons/bsm2python/boiler.svg
  docs/assets/.icons/bsm2python/chp.svg
  docs/assets/.icons/bsm2python/cooler.svg
  docs/assets/.icons/bsm2python/dewatering.svg
  docs/assets/.icons/bsm2python/flare.svg
  docs/assets/.icons/bsm2python/primary-clarifier.svg
  docs/assets/.icons/bsm2python/readme.md
  docs/assets/.icons/bsm2python/settler.svg
  docs/assets/.icons/bsm2python/thickener.svg
  docs/assets/.icons/bsm2python/wastewater-storage.svg
  docs/assets/icons/bsm2python/activated-sludge-reactor.svg
  docs/assets/icons/bsm2python/anerobic-digester.svg
  docs/assets/icons/bsm2python/biogas-storage.svg
  docs/assets/icons/bsm2python/boiler.svg
  docs/assets/icons/bsm2python/chp.svg
  docs/assets/icons/bsm2python/cooler.svg
  docs/assets/icons/bsm2python/dewatering.svg
  docs/assets/icons/bsm2python/flare.svg
  docs/assets/icons/bsm2python/primary-clarifier.svg
  docs/assets/icons/bsm2python/readme.md
  docs/assets/icons/bsm2python/settler.svg
  docs/assets/icons/bsm2python/thickener.svg
  docs/assets/icons/bsm2python/wastewater-storage.svg
  mkdocs.yml
Due: none

Fixed img links
  docs/user_guide/em_components/biogas_storage.md
  docs/user_guide/em_components/boiler.md
  docs/user_guide/em_components/chp.md
  docs/user_guide/em_components/cooler.md
  docs/user_guide/em_components/flare.md
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/anaerobic_digester.md
  docs/user_guide/wwt_components/dewatering.md
  docs/user_guide/wwt_components/primary_clarifier.md
  docs/user_guide/wwt_components/settler.md
  docs/user_guide/wwt_components/thickener.md
  docs/user_guide/wwt_components/wastewater_storage.md
Due: none

"Merge branch 'main' into 'doc_new2'"
  docs/assets/.icons/bsm2python/activated-sludge-reactor.svg
  docs/assets/.icons/bsm2python/anerobic-digester.svg
  docs/assets/.icons/bsm2python/biogas-storage.svg
  docs/assets/.icons/bsm2python/boiler.svg
  docs/assets/.icons/bsm2python/chp.svg
  docs/assets/.icons/bsm2python/cooler.svg
  docs/assets/.icons/bsm2python/dewatering.svg
  docs/assets/.icons/bsm2python/flare.svg
  docs/assets/.icons/bsm2python/primary-clarifier.svg
  docs/assets/.icons/bsm2python/readme.md
  docs/assets/.icons/bsm2python/settler.svg
  docs/assets/.icons/bsm2python/thickener.svg
  docs/assets/.icons/bsm2python/wastewater-storage.svg
  docs/assets/icons/bsm2python/activated-sludge-reactor.svg
  docs/assets/icons/bsm2python/anerobic-digester.svg
  docs/assets/icons/bsm2python/biogas-storage.svg
  docs/assets/icons/bsm2python/boiler.svg
  docs/assets/icons/bsm2python/chp.svg
  docs/assets/icons/bsm2python/cooler.svg
  docs/assets/icons/bsm2python/dewatering.svg
  docs/assets/icons/bsm2python/flare.svg
  docs/assets/icons/bsm2python/primary-clarifier.svg
  docs/assets/icons/bsm2python/readme.md
  docs/assets/icons/bsm2python/settler.svg
  docs/assets/icons/bsm2python/thickener.svg
  docs/assets/icons/bsm2python/wastewater-storage.svg
  docs/user_guide/em_components/biogas_storage.md
  docs/user_guide/em_components/boiler.md
  docs/user_guide/em_components/chp.md
  docs/user_guide/em_components/cooler.md
  docs/user_guide/em_components/flare.md
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/anaerobic_digester.md
  docs/user_guide/wwt_components/dewatering.md
  docs/user_guide/wwt_components/primary_clarifier.md
  docs/user_guide/wwt_components/settler.md
  docs/user_guide/wwt_components/thickener.md
  docs/user_guide/wwt_components/wastewater_storage.md
  mkdocs.yml
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Test: Fix for readthedocs images
  docs/conf.py
Due: run_doc_tests, pages

Revert "Test: Fix for readthedocs images"
  docs/conf.py
Due: run_doc_tests, pages

Testing fix for readthedocs img problem
  docs/requirements.txt
Due: run_doc_tests, pages

Revert "Testing fix for readthedocs img problem"
  docs/requirements.txt
Due: run_doc_tests, pages

Added script for readthedocs (git-lfs installation)
  docs/scripts/conf.py
  mkdocs.yml
Due: none

Trying script for readthedocs
  .readthedocs.yaml
  mkdocs.yml
Due: none

Change to fix error
  .readthedocs.yaml
Due: none

Change to fix error #2
  .readthedocs.yaml
Due: none

Fix favicon and bsm2_flowchart img
  docs/assets/icons/bsm2python/readme.md
  docs/assets/images/bsm2em_python_flowchart.drawio.svg
  docs/user_guide/index.md
  mkdocs.yml
Due: none

Used logo.svg for favicon.ico, so favicon.ico is not necessary anymore
  docs/assets/images/favicon.ico
Due: none

Changed symbols
  CONTRIBUTING.md
  docs/install.md
Due: run_doc_tests, pages

Path conditions:
  build_image: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json
  run_checks: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_doc_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, docs/*
  pages: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, docs/*
