Repository ttronas/bsm2-python: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image, run_checks, run_tests, run_doc_tests, pages

.gitlab-ci.yml:

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  IMAGE_REG: gitlab.rrze.fau.de:4567
  IMAGE_NAME: evt/klaeffizient/bsm2-python
  IMAGE_TAG: latest
  PROJECT_ID: 2465

stages:
  - build
  - test
  - deploy

build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  tags:
    - docker
  rules:
    - changes:
      - makefile
      - Dockerfile
      - .gitlab-ci.yml
      - pyproject.toml
      - .devcontainer/devcontainer.json

  before_script:
    - apk add --update nodejs npm python3 make g++
    - npm install -g @devcontainers/cli
    - docker login $IMAGE_REG -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
    - devcontainer build --workspace-folder . --push true --image-name ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}

run_checks:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
    - docker
  rules:
    - changes:
      - makefile
      - Dockerfile
      - .gitlab-ci.yml
      - pyproject.toml
      - .devcontainer/devcontainer.json
      - src/*
      - tests/*
      - pyproject.toml
  script:
    - hatch run lint:style

run_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
    - docker
  rules:
    - changes:
      - makefile
      - Dockerfile
      - .gitlab-ci.yml
      - pyproject.toml
      - .devcontainer/devcontainer.json
      - src/*
      - tests/*
      - pyproject.toml
  script:
    - hatch run test:cov

run_doc_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
    - docker
  rules:
    - changes:
      - makefile
      - Dockerfile
      - .gitlab-ci.yml
      - pyproject.toml
      - .devcontainer/devcontainer.json
      - docs/*
  script:
    - hatch run docs:build-check


pages:
  stage: deploy
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
    - docker
  rules:
    - changes:
      - makefile
      - Dockerfile
      - .gitlab-ci.yml
      - pyproject.toml
      - .devcontainer/devcontainer.json
      - src/*
      - docs/*
  script:
    - VERSION=$(curl -Ss --request GET --header "PRIVATE-TOKEN: ${API_TOKEN}" "https://gitlab.com/api/v4/projects/${PROJECT_ID}/repository/tags" | jq -r '.[0] | .name')
    - test -z "$VERSION" && echo "no version tag found" && exit 1
    - hatch run docs:ci-build $VERSION

Finished first module documentation structure
  src/bsm2_python/bsm2/adm1_bsm2.py
Due: none

Better class documentation & some more documentation
  mkdocs.yml
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/adm1_performance.py
Due: none

Added some documentation
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/adm1_performance.py
Due: none

Added documentation
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/aerationcontrolinit.py
  src/bsm2_python/bsm2/asm1_bsm2.py
Due: none

Added documentation
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/asm1init_bsm1.py
Due: none

Added / changed documentation
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/asm1init_bsm2.py
  src/bsm2_python/bsm2/dewatering_bsm2.py
  src/bsm2_python/bsm2/helpers_bsm2.py
Due: none

Added / changed documentation
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/dewatering_bsm2.py
  src/bsm2_python/bsm2/plantperformance.py
Due: none

Added documentation
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2/storage_bsm2.py
  src/bsm2_python/bsm2/thickener_bsm2.py
Due: none

heat_net temperature debugged, boiler more dynamic, worked on TODOs, oci and oci_dynamic in bsm2_olem, units in docstrings, tqdm handler in logger
  README.md
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/controller.py
  src/bsm2_python/controller_em.py
  src/bsm2_python/energy_management/boiler.py
  src/bsm2_python/energy_management/chp.py
  src/bsm2_python/energy_management/fermenter.py
  src/bsm2_python/energy_management/heat_net.py
  src/bsm2_python/energy_management/init/boiler_init.py
  src/bsm2_python/energy_management/init/cooler_init.py
  src/bsm2_python/energy_management/module.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/log.py
Due: none

Added documentation
  src/bsm2_python/bsm2/bsm2_cl.py
  src/bsm2_python/bsm2/bsm2_ol.py
  src/bsm2_python/bsm2/plantperformance.py
Due: none

add TODO for Lukas
  src/bsm2_python/bsm2_olem.py
Due: none

fixed compressor load not being calculated
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/energy_management/boiler.py
Due: none

linting
  src/bsm2_python/energy_management/boiler.py
Due: none

fixed benchmark for test
  tests/bsm2_olem_test.py
Due: run_checks, run_tests

Changed some documentation
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2/adm1init_bsm2.py
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/aerationcontrolinit.py
  src/bsm2_python/bsm2/asm1init_bsm1.py
  src/bsm2_python/bsm2/asm1init_bsm2.py
  src/bsm2_python/bsm2/dewateringinit_bsm2.py
  src/bsm2_python/bsm2/helpers_bsm2.py
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2/primclarinit_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2/settler1dinit_bsm2.py
  src/bsm2_python/bsm2/storage_bsm2.py
  src/bsm2_python/bsm2/storageinit_bsm2.py
  src/bsm2_python/bsm2/thickenerinit_bsm2.py
Due: none

rm scikit learn
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Revert "rm scikit learn"
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Revert "dependencies: include scikit-learn in test env"
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Moved source code in bsm2_python folder and deleted bsm2 folder to fix mkdocs-literate-nav
  mkdocs.yml
  src/bsm2_python/adm1_bsm2.py
  src/bsm2_python/adm1_performance.py
  src/bsm2_python/adm1init_bsm2.py
  src/bsm2_python/aerationcontrol.py
  src/bsm2_python/aerationcontrolinit.py
  src/bsm2_python/asm1_bsm2.py
  src/bsm2_python/asm1init_bsm1.py
  src/bsm2_python/asm1init_bsm2.py
  src/bsm2_python/bsm2/__init__.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/dewatering_bsm2.py
  src/bsm2_python/dewateringinit_bsm2.py
  src/bsm2_python/helpers_bsm2.py
  src/bsm2_python/plantperformance.py
  src/bsm2_python/primclar_bsm2.py
  src/bsm2_python/primclarinit_bsm2.py
  src/bsm2_python/reginit_bsm2.py
  src/bsm2_python/settler1d_bsm2.py
  src/bsm2_python/settler1dinit_bsm2.py
  src/bsm2_python/storage_bsm2.py
  src/bsm2_python/storageinit_bsm2.py
  src/bsm2_python/thickener_bsm2.py
  src/bsm2_python/thickenerinit_bsm2.py
Due: none

Added copyright.md / changed copyright in source code, added documentation for init files
  docs/copyright.md
  docs/scripts/gen_ref_nav.py
  mkdocs.yml
  src/bsm2_python/adm1_bsm2.py
  src/bsm2_python/asm1_bsm2.py
  src/bsm2_python/dewatering_bsm2.py
  src/bsm2_python/primclar_bsm2.py
  src/bsm2_python/settler1d_bsm2.py
  src/bsm2_python/storage_bsm2.py
  src/bsm2_python/thickener_bsm2.py
Due: run_doc_tests, pages

Changed folder structure for upcoming merge with main
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/dewatering_bsm2.py
  src/bsm2_python/bsm2/helpers_bsm2.py
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  src/bsm2_python/bsm2/init/asm1init_bsm1.py
  src/bsm2_python/bsm2/init/asm1init_bsm2.py
  src/bsm2_python/bsm2/init/dewateringinit_bsm2.py
  src/bsm2_python/bsm2/init/primclarinit_bsm2.py
  src/bsm2_python/bsm2/init/reginit_bsm2.py
  src/bsm2_python/bsm2/init/settler1dinit_bsm2.py
  src/bsm2_python/bsm2/init/storageinit_bsm2.py
  src/bsm2_python/bsm2/init/thickenerinit_bsm2.py
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2/storage_bsm2.py
  src/bsm2_python/bsm2/thickener_bsm2.py
Due: none

Revert "Merge branch 'doc' into 'main'"
  .gitlab-ci.yml
  .linkcheckerrc
  CONTRIBUTING.md
  Dockerfile
  docs/copyright.md
  docs/documentation.md
  docs/scripts/gen_ref_nav.py
  mkdocs.yml
  pyproject.toml
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/dewatering_bsm2.py
  src/bsm2_python/bsm2/helpers_bsm2.py
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  src/bsm2_python/bsm2/init/asm1init_bsm1.py
  src/bsm2_python/bsm2/init/asm1init_bsm2.py
  src/bsm2_python/bsm2/init/dewateringinit_bsm2.py
  src/bsm2_python/bsm2/init/primclarinit_bsm2.py
  src/bsm2_python/bsm2/init/settler1dinit_bsm2.py
  src/bsm2_python/bsm2/init/storageinit_bsm2.py
  src/bsm2_python/bsm2/init/thickenerinit_bsm2.py
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2/storage_bsm2.py
  src/bsm2_python/bsm2/thickener_bsm2.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
Due: build_image, run_checks, run_tests, run_doc_tests, pages

add get_t_op.py. not tested yet.
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/energy_management/init/chp_init.py
Due: none

set version 0.0.3, update README and set option to control BSM2CL.step() via so4ref
  .gitignore
  Dockerfile
  README.md
  pyproject.toml
  src/bsm2_python/__init__.py
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_cl.py
  tests/bsm1_test.py
  tests/bsm2_ol_test_not_connected.py
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Added __init__.py files for mkdocs
  src/bsm2_python/bsm2/__init__.py
  src/bsm2_python/bsm2/init/__init__.py
  src/bsm2_python/energy_management/__init__.py
  src/bsm2_python/energy_management/init/__init__.py
Due: none

Changed mkdocs.yml settings and code for automatic generation of source code documentation
  docs/scripts/gen_ref_nav.py
  mkdocs.yml
Due: none

Added and changed some markdown files
  CHANGELOG.md
  docs/copyright.md
  docs/documentation.md
  docs/index.md
Due: run_doc_tests, pages

Changes to source code documentation and mkdocs.yml
  mkdocs.yml
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2/aerationcontrol.py
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/dewatering_bsm2.py
Due: none

Changed source code documentation + lint fix
  src/bsm2_python/bsm2/adm1_bsm2.py
  src/bsm2_python/bsm2/adm1_performance.py
  src/bsm2_python/bsm2/asm1_bsm2.py
  src/bsm2_python/bsm2/dewatering_bsm2.py
  src/bsm2_python/bsm2/helpers_bsm2.py
  src/bsm2_python/bsm2/module.py
  src/bsm2_python/bsm2/plantperformance.py
Due: none

Added Mkdocs function for website
  mkdocs.yml
Due: none

Changed some documentation
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2/storage_bsm2.py
  src/bsm2_python/bsm2/thickener_bsm2.py
Due: none

Lint fix
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2/storage_bsm2.py
  src/bsm2_python/bsm2/thickener_bsm2.py
Due: none

Adapted documentation for 'klärifizient' modules.
  src/bsm2_python/energy_management/boiler.py
  src/bsm2_python/energy_management/chp.py
  src/bsm2_python/energy_management/compressor.py
  src/bsm2_python/energy_management/cooler.py
  src/bsm2_python/energy_management/economics.py
  src/bsm2_python/energy_management/fermenter.py
  src/bsm2_python/energy_management/flare.py
  src/bsm2_python/energy_management/heat_net.py
  src/bsm2_python/energy_management/module.py
  src/bsm2_python/energy_management/storage.py
  src/bsm2_python/gases/gas_params.py
  src/bsm2_python/gases/gases.py
Due: none

Lint fix
  src/bsm2_python/energy_management/compressor.py
Due: none

Adapted documentation of all initiation modules.
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  src/bsm2_python/bsm2/init/asm1init_bsm1.py
  src/bsm2_python/bsm2/init/asm1init_bsm2.py
  src/bsm2_python/bsm2/init/dewateringinit_bsm2.py
  src/bsm2_python/bsm2/init/plantperformanceinit_bsm2.py
  src/bsm2_python/bsm2/init/primclarinit_bsm2.py
  src/bsm2_python/bsm2/init/settler1dinit_bsm2.py
  src/bsm2_python/bsm2/init/storageinit_bsm2.py
  src/bsm2_python/bsm2/init/thickenerinit_bsm2.py
  src/bsm2_python/energy_management/init/boiler_init.py
  src/bsm2_python/energy_management/init/chp_init.py
  src/bsm2_python/energy_management/init/compressor_init.py
  src/bsm2_python/energy_management/init/cooler_init.py
  src/bsm2_python/energy_management/init/fermenter_init.py
  src/bsm2_python/energy_management/init/flare_init.py
  src/bsm2_python/energy_management/init/heat_net_init.py
  src/bsm2_python/energy_management/init/storage_init.py
Due: none

Lint fix for all initiation modules.
  src/bsm2_python/bsm2/init/plantperformanceinit_bsm2.py
  src/bsm2_python/bsm2/init/primclarinit_bsm2.py
  src/bsm2_python/bsm2/init/storageinit_bsm2.py
  src/bsm2_python/energy_management/init/boiler_init.py
  src/bsm2_python/energy_management/init/chp_init.py
  src/bsm2_python/energy_management/init/compressor_init.py
  src/bsm2_python/energy_management/init/cooler_init.py
  src/bsm2_python/energy_management/init/fermenter_init.py
  src/bsm2_python/energy_management/init/flare_init.py
  src/bsm2_python/energy_management/init/heat_net_init.py
  src/bsm2_python/energy_management/init/storage_init.py
Due: none

Changed documentation for bsm2_base, _cl, _ol, ...
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/controller.py
  src/bsm2_python/controller_em.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/log.py
  src/bsm2_python/simulation.py
Due: none

Adjusted some documentation + lint fix.
  src/bsm2_python/bsm2/helpers_bsm2.py
  src/bsm2_python/bsm2/init/adm1init_bsm2.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  src/bsm2_python/bsm2/init/asm1init_bsm1.py
  src/bsm2_python/bsm2/init/asm1init_bsm2.py
  src/bsm2_python/bsm2/init/dewateringinit_bsm2.py
  src/bsm2_python/bsm2/init/settler1dinit_bsm2.py
  src/bsm2_python/bsm2/init/thickenerinit_bsm2.py
  src/bsm2_python/bsm2/plantperformance.py
  src/bsm2_python/bsm2/primclar_bsm2.py
  src/bsm2_python/bsm2/settler1d_bsm2.py
  src/bsm2_python/bsm2_base.py
  src/bsm2_python/bsm2_cl.py
  src/bsm2_python/bsm2_ol.py
  src/bsm2_python/bsm2_olem.py
  src/bsm2_python/controller_em.py
  src/bsm2_python/energy_management/fermenter.py
  src/bsm2_python/energy_management/storage.py
  src/bsm2_python/evaluation.py
  src/bsm2_python/gases/gases.py
Due: none

{message}
  src/bsm2_python/bsm2/aerationcontrol_new.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  system_proof_of_concept.py
  system_test.py
Due: none

Changed gen_ref_nav.py script to configure local mkdocstring settings
  docs/scripts/gen_ref_nav.py
Due: none
