Repository ttronas/bsm2-python: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image, run_checks, run_tests, run_doc_tests, pages

build_image:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  tags:
  - docker
  before_script:
  - apk add --update nodejs npm python3 make g++
  - npm install -g @devcontainers/cli
  - docker login $IMAGE_REG -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
  ...

run_checks:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run lint:style

run_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run test:cov

run_doc_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run docs:build-check

pages:
  stage: deploy
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - VERSION=$(curl -Ss --request GET --header "PRIVATE-TOKEN: ${API_TOKEN}" "https://gitlab.com/api/v4/projects/${PROJECT_ID}/repository/tags" | jq -r '.[0] | .name')
  ...

Initial commit
  LICENSE
Due: none

Added snippet markers to bsm2_base.py for documentation.
  docs/user_guide/bsm2_base.md
  src/bsm2_python/bsm2_base.py
Due: none

Fixed first source code documentation site and corrected spelling in __init__ files.
  docs/scripts/gen_ref_nav.py
  src/bsm2_python/__init__.py
  src/bsm2_python/bsm2/__init__.py
  src/bsm2_python/bsm2/init/__init__.py
  src/bsm2_python/energy_management/__init__.py
  src/bsm2_python/energy_management/init/__init__.py
  src/bsm2_python/gases/__init__.py
Due: none

Lint fixes to comparator module
  tests/bsm2_cl_comparator.py
Due: run_checks, run_tests

Revert "Merge branch 'aerationcontrol_new' into 'main'"
  system_test.py
  tests/bsm2_cl_comparator.py
Due: run_checks, run_tests

delete sensornoise_bsm2.mat
  tests/bsm2_ol_test_not_connected.py
Due: run_checks, run_tests

update from gitlab to github dependencies
  .github/workflows/ci.yml
  LICENSE.txt
  README.md
  docs/home/license.md
  docs/snippets/links.txt
  mkdocs.yml
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

add pre-commit for Workflow
  .github/workflows/ci.yml
Due: none

use pre-commit action
  .github/workflows/ci.yml
Due: none

add pre-commit to pyproject post-installation
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

build repo image and use it to run pipeline
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

adjust image tag
  .github/workflows/publish.yml
Due: none

fix container tags
  .github/workflows/publish.yml
Due: none

fix lint and test ci paths
  .github/workflows/ci.yml
  README.md
Due: none

change defaults working-directory for ci jobs
  .github/workflows/ci.yml
Due: none

change defaults working-directory
  .github/workflows/ci.yml
Due: none

double check that git is installed
  .github/workflows/ci.yml
Due: none

disable pre-commit install for test envs
  .github/workflows/ci.yml
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

check pwd
  .github/workflows/ci.yml
Due: none

check content of current folder
  .github/workflows/ci.yml
Due: none

get artifact
  .github/workflows/ci.yml
Due: none

fix upload-artifact
  .github/workflows/ci.yml
Due: none

change upload-artifact
  .github/workflows/ci.yml
Due: none

create artifact always
  .github/workflows/ci.yml
Due: none

add github container dir as safe.directory
  .github/workflows/ci.yml
Due: none

add DOI, fix test action
  .github/workflows/ci.yml
  README.md
Due: none

Added new documentation for the aerationcontrol system. Not fully finished yet!
  docs/user_guide/bsm2_python_components/wwt_components/aerationcontrol.md
  docs/user_guide/index.md
  mkdocs.yml
Due: none

Finished up documentation for aerationcontrol. Added sensor and pid flowcharts.
  docs/assets/icons/bsm2python/aerationcontrol.drawio.svg
  docs/assets/icons/bsm2python/aerationcontrol.svg
  docs/assets/images/aerationcontrol_pid_flowchart.drawio.svg
  docs/assets/images/aerationcontrol_sensor_flowchart.drawio.svg
  docs/user_guide/bsm2_python_components/wwt_components/aerationcontrol.md
  docs/user_guide/index.md
Due: none

add "/" to avoid redirection warning 302.
  docs/index.md
  docs/install.md
  docs/user_guide/bsm2_base.md
  docs/user_guide/index.md
Due: run_doc_tests, pages

Updated size of aerationcontrol icon and parts of the aerationcontrol.md
  docs/assets/icons/bsm2python/aerationcontrol.drawio.svg
  docs/assets/icons/bsm2python/aerationcontrol.svg
  docs/assets/images/aerationcontrol_pid_flowchart.drawio.svg
  docs/user_guide/bsm2_python_components/wwt_components/aerationcontrol.md
Due: none

update to v0.0.16
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

bugfix safe git directory in CI/CD
  .github/workflows/ci.yml
Due: none

Reactivated pre-commit hook: check-added-large-files (csv file was to big)
  .pre-commit-config.yaml
Due: none

Add BSM2 online simulation configuration file
  bsm2_ol_simulation_config.json
Due: none

Refactor inputs and outputs structure in bsm2 config
  bsm2_ol_config.json
Due: none

Refactor data handles structure in bsm1_ol_config.json
  bsm1_ol_config.json
Due: none

Update test_json_engine.py
  tests/test_json_engine.py
Due: run_checks, run_tests

extend to treat gas outlet differently from normal asm1 handles
  bsm2_ol_config.json
Due: none

Path conditions:
  build_image: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json
  run_checks: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_doc_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, docs/*
  pages: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, docs/*
