Repository ttronas/bsm2-python: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image, run_checks, run_tests, run_doc_tests, pages

build_image:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  tags:
  - docker
  before_script:
  - apk add --update nodejs npm python3 make g++
  - npm install -g @devcontainers/cli
  - docker login $IMAGE_REG -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
  ...

run_checks:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run lint:style

run_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run test:cov

run_doc_tests:
  stage: test
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - hatch run docs:build-check

pages:
  stage: deploy
  image: ${IMAGE_REG}/${IMAGE_NAME}:${IMAGE_TAG}
  tags:
  - docker
  script:
  - VERSION=$(curl -Ss --request GET --header "PRIVATE-TOKEN: ${API_TOKEN}" "https://gitlab.com/api/v4/projects/${PROJECT_ID}/repository/tags" | jq -r '.[0] | .name')
  ...

Changed logo
  docs/assets/images/favicon.ico
  docs/assets/images/favicon.svg
  mkdocs.yml
Due: none

Changed website color and option for better toc readability
  mkdocs.yml
Due: none

Added folder documentation with folder structure graph
  src/bsm2_python/__init__.py
Due: none

Added file structure graph for documentation
  src/bsm2_python/__init__.py
  src/bsm2_python/bsm2/__init__.py
  src/bsm2_python/bsm2/init/__init__.py
  src/bsm2_python/energy_management/__init__.py
  src/bsm2_python/energy_management/init/__init__.py
  src/bsm2_python/gases/__init__.py
Due: none

Changed logo.ico to logo.svg
  docs/assets/images/logo.svg
  mkdocs.yml
Due: none

Changed __init__.py
  src/bsm2_python/__init__.py
  src/bsm2_python/bsm2/__init__.py
  src/bsm2_python/bsm2/init/__init__.py
  src/bsm2_python/energy_management/__init__.py
  src/bsm2_python/energy_management/init/__init__.py
  src/bsm2_python/gases/__init__.py
Due: none

Added installation guide / more detailed contributing guide
  CONTRIBUTING.md
  docs/installation.md
  mkdocs.yml
Due: run_doc_tests, pages

first try documentation with readthedocs.io
  .readthedocs.yaml
  mkdocs.yml
Due: none

Revert "{message}"
  src/bsm2_python/bsm2/aerationcontrol_new.py
  src/bsm2_python/bsm2/init/aerationcontrolinit.py
  system_proof_of_concept.py
  system_test.py
Due: none

Update Read the Docs configuration and dependencies for documentation build
  .readthedocs.yaml
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Refactor Read the Docs configuration to use external requirements file
  .readthedocs.yaml
  docs/requirements.txt
Due: run_doc_tests, pages

Improve documentation and remove unused notebook template
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  img/bsm2em_python.drawio.svg
  notebooks/template.ipynb
  pyproject.toml
  src/bsm2_python/bsm2/__init__.py
  src/bsm2_python/bsm2/init/__init__.py
  src/bsm2_python/energy_management/__init__.py
  src/bsm2_python/energy_management/init/__init__.py
  src/bsm2_python/gases/__init__.py
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Add .gitattributes to manage SVG files with Git LFS
  .gitattributes
Due: none

somehow windows needs these changes
  docs/assets/images/logo.svg
  img/bsm2em_python.drawio.svg
Due: none

Update README and pyproject.toml with correct documentation links
  README.md
  pyproject.toml
Due: build_image, run_checks, run_tests, run_doc_tests, pages

Changed Nav, Install, Contribute, Copyright, Copyright-Footer and added User guide, logo, favicon
  AUTHORS.md
  CONTRIBUTING.md
  docs/assets/images/bsm2-python_schematic.svg
  docs/contribute.md
  docs/copyright.md
  docs/documentation.md
  docs/index.md
  docs/install.md
  docs/installation.md
  docs/user_guide.md
  mkdocs.yml
  src/bsm2_python/bsm2/__init__.py
  src/bsm2_python/bsm2/init/__init__.py
  src/bsm2_python/energy_management/__init__.py
  src/bsm2_python/energy_management/init/__init__.py
  src/bsm2_python/gases/__init__.py
Due: run_doc_tests, pages

Finished Grid cards and fixed links and text.
  AUTHORS.md
  CONTRIBUTING.md
  docs/index.md
  docs/install.md
  docs/user_guide.md
  mkdocs.yml
Due: run_doc_tests, pages

Added deleted mkdocs setting: Other font for better readability and navigation.instant for fewer site loading time
  mkdocs.yml
Due: none

Changed Git Icon to GitLab icon
  mkdocs.yml
Due: none

Changed Nav, Install, Contribute, Copyright, Copyright-Footer and added User guide, logo, favicon
  AUTHORS.md
  CONTRIBUTING.md
  docs/assets/images/bsm2-python_schematic.svg
  docs/contribute.md
  docs/copyright.md
  docs/documentation.md
  docs/index.md
  docs/install.md
  docs/installation.md
  docs/user_guide.md
  mkdocs.yml
Due: run_doc_tests, pages

Fix merge conflicts
  AUTHORS.md
  CONTRIBUTING.md
  docs/index.md
  docs/install.md
  docs/user_guide.md
  mkdocs.yml
Due: run_doc_tests, pages

Fix merge conflicts
  docs/assets/images/bsm2-python_schematic.svg
Due: none

Changed img
  docs/assets/images/bsm2-python_schematic.svg
  docs/user_guide.md
Due: run_doc_tests, pages

Fixed link
  docs/user_guide.md
Due: run_doc_tests, pages

Bug fixes: - Fixed grid links on index site - Fixed (?) logo.svg (not showing) - Fixed (?) Src code docu: hide ToC
  docs/index.md
  mkdocs.yml
  src/bsm2_python/__init__.py
Due: run_doc_tests, pages

Bug fixes for readthedocs.io
  docs/index.md
  mkdocs.yml
  src/bsm2_python/__init__.py
Due: run_doc_tests, pages

Revert "Bug fixes:"
  docs/index.md
  mkdocs.yml
  src/bsm2_python/__init__.py
Due: run_doc_tests, pages

Revert "Merge branch 'doc_new2' into 'main'"
  docs/index.md
  mkdocs.yml
  src/bsm2_python/__init__.py
Due: run_doc_tests, pages

Fixed grid links on index page
  docs/index.md
Due: run_doc_tests, pages

Links fixed on index page
  docs/index.md
Due: run_doc_tests, pages

Added minify_html, IWA link, user guide documentation
  docs/index.md
  docs/user_guide.md
  mkdocs.yml
Due: run_doc_tests, pages

Added structure for user guide
  docs/authors.md
  docs/changelog.md
  docs/home/authors.md
  docs/home/changelog.md
  docs/home/copyright.md
  docs/home/license.md
  docs/index.md
  docs/license.md
  docs/scripts/gen_ref_nav.py
  docs/user_guide/em_components/biogas_storage.md
  docs/user_guide/em_components/boiler.md
  docs/user_guide/em_components/chp.md
  docs/user_guide/em_components/compressor.md
  docs/user_guide/em_components/cooler.md
  docs/user_guide/em_components/flare.md
  docs/user_guide/index.md
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/anerobic_digester.md
  docs/user_guide/wwt_components/combiner.md
  docs/user_guide/wwt_components/dewatering.md
  docs/user_guide/wwt_components/primary_clarifier.md
  docs/user_guide/wwt_components/settler.md
  docs/user_guide/wwt_components/sludge_storage.md
  docs/user_guide/wwt_components/splitter.md
  docs/user_guide/wwt_components/thickener.md
  mkdocs.yml
Due: run_doc_tests, pages

Added module svg for component documentation
  docs/assets/images/activated_sludge_reactor.drawio.svg
  docs/assets/images/anerobic_digester.drawio.svg
  docs/assets/images/biogas_storage.drawio.svg
  docs/assets/images/boiler.drawio.svg
  docs/assets/images/chp.drawio.svg
  docs/assets/images/cooler.drawio.svg
  docs/assets/images/dewatering.drawio.svg
  docs/assets/images/flare.drawio.svg
  docs/assets/images/primary_clarifier.drawio.svg
  docs/assets/images/settler.drawio.svg
  docs/assets/images/sludge_storage.drawio.svg
  docs/assets/images/thickener.drawio.svg
  docs/user_guide/em_components/biogas_storage.md
  docs/user_guide/em_components/boiler.md
  docs/user_guide/em_components/chp.md
  docs/user_guide/em_components/compressor.md
  docs/user_guide/em_components/cooler.md
  docs/user_guide/em_components/flare.md
  docs/user_guide/index.md
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/anerobic_digester.md
  docs/user_guide/wwt_components/combiner.md
  docs/user_guide/wwt_components/dewatering.md
  docs/user_guide/wwt_components/primary_clarifier.md
  docs/user_guide/wwt_components/settler.md
  docs/user_guide/wwt_components/sludge_storage.md
  docs/user_guide/wwt_components/splitter.md
  docs/user_guide/wwt_components/thickener.md
  mkdocs.yml
Due: none

Added bsm2 flowchart, bsm2 emojis
  docs/assets/.icons/bsm2python/activated-sludge.svg
  docs/assets/.icons/bsm2python/anerobic-digester.svg
  docs/assets/.icons/bsm2python/biogas-storage.svg
  docs/assets/.icons/bsm2python/boiler.svg
  docs/assets/.icons/bsm2python/chp.svg
  docs/assets/.icons/bsm2python/cooler.svg
  docs/assets/.icons/bsm2python/dewatering.svg
  docs/assets/.icons/bsm2python/flare.svg
  docs/assets/.icons/bsm2python/primary-clarifier.svg
  docs/assets/.icons/bsm2python/readme.md
  docs/assets/.icons/bsm2python/settler.svg
  docs/assets/.icons/bsm2python/sludge-storage.svg
  docs/assets/.icons/bsm2python/thickener.svg
  docs/user_guide/index.md
  docs/user_guide/wwt_components/primary_clarifier.md
  mkdocs.yml
Due: none

Loads images and icons all from .icon folder now (no dublicate images necessary)
  docs/assets/.icons/bsm2python/activated-sludge-reactor.svg
  docs/assets/.icons/bsm2python/activated-sludge.svg
  docs/assets/images/anerobic_digester.drawio.svg
  docs/assets/images/biogas_storage.drawio.svg
  docs/assets/images/boiler.drawio.svg
  docs/assets/images/chp.drawio.svg
  docs/assets/images/cooler.drawio.svg
  docs/assets/images/dewatering.drawio.svg
  docs/assets/images/flare.drawio.svg
  docs/assets/images/primary_clarifier.drawio.svg
  docs/assets/images/settler.drawio.svg
  docs/assets/images/sludge_storage.drawio.svg
  docs/assets/images/thickener.drawio.svg
  docs/user_guide/em_components/biogas_storage.md
  docs/user_guide/em_components/boiler.md
  docs/user_guide/em_components/chp.md
  docs/user_guide/em_components/cooler.md
  docs/user_guide/em_components/flare.md
  docs/user_guide/index.md
  docs/user_guide/wwt_components/activated_sludge_reactor.md
  docs/user_guide/wwt_components/anerobic_digester.md
  docs/user_guide/wwt_components/dewatering.md
  docs/user_guide/wwt_components/primary_clarifier.md
  docs/user_guide/wwt_components/settler.md
  docs/user_guide/wwt_components/sludge_storage.md
  docs/user_guide/wwt_components/thickener.md
Due: none

Update README.md
  README.md
Due: none

Added arrithatex mathjax and documentation for primary clarifier.
  docs/assets/images/primary_clarifier.drawio.svg
  docs/scripts/mathjax.js
  docs/user_guide/wwt_components/primary_clarifier.md
  mkdocs.yml
Due: none

fix some inconsistencies and format
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE.txt
  docs/index.md
  docs/install.md
  docs/user_guide/index.md
  docs/user_guide/wwt_components/primary_clarifier.md
Due: run_doc_tests, pages

Path conditions:
  build_image: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json
  run_checks: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, tests/*, pyproject.toml
  run_doc_tests: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, docs/*
  pages: any of: makefile, Dockerfile, .gitlab-ci.yml, pyproject.toml, .devcontainer/devcontainer.json, src/*, docs/*
